:root {
    --primary-color: #003049;
    --secondary-color: #d62828;
    --accent1-color: #f77f00;
    --accent2-color: #fcbf49;
}

/* FONTS FOR BODY */
.nunito-body1 {
    font-family: "Nunito", system-ui;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.nunito-body2 {
    font-family: "Nunito", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

/* FONTS FOR HEADING */
.merienda-heading1 {
    font-family: "Merienda", system-ui;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.merienda-heading2 {
    font-family: "Merienda", system-ui;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

/* HEADER */
header {
    background-color: var(--primary-color);
    color: white;
    position: absolute;
    width: 100%;
    padding: 20px 0; 
}

/* Adjusting nav styles */
header nav {
    position: relative;
}

header nav img {
    width: 5%;
    float: left;
    margin-left: 10px;
}

header nav a {
    color: white;
    padding: 10px 15px;
    float: right;
}

/* Main Content Styling */
main {
    padding-top: 100px;
    padding-bottom: 80px;
}

/* Hero Section */
.hero {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.hero h1 {
    position: absolute;
    top: 20%;
    left: 10%;
    color: white;
    font-size: 3em;
    z-index: 10;
}

/* Hero Image Styles */
.hero img {
    width: 100%;
    height: auto;
    display: block;
}

/* Article Styling */
.hero article {
    position: absolute;
    bottom: 10%;
    left: 5%;
    background-color: var(--accent1-color);
    color: white;
    padding: 20px;
    z-index: 10;
}

/* Floating Image Styles Inside Article */
.hero article img {
    float: right;
    width: 40%;
    margin-left: 20px;
}

/*LAST IMAGES*/
.catching {
    display: flex; 
    flex-direction: column;
}

.catching img {
    width: 40%;
    margin: 10px 0;
}
/* Footer Styles */
footer {
    background-color: var(--primary-color);
    width: 100%;
    color: white;
    position: absolute;
}

footer p {
    float: left;
}

.sociallinks a img {
    width: 30px;
    height: auto;
    margin: 10px 10px;
    float: right;
}
