* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

h1 {
    color: darkblue;
    margin-bottom: 15px;
}

main {
    max-width: 840px;
    padding: 1rem;
}

main img {
    float: right;
    width: 150px;
    height: auto;
    margin: 0 0 1rem 1rem;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

aside {
    position: relative;
    width: 22rem;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: .3rem .7rem;
    border-radius: 5px;
}

p {
    line-height: 1.4;
}

footer {
    margin-top: 20px;
    border-top: 1px solid #000;
    text-align: center;
    padding: 10px;
}

/* Class Selectors */

.box {
    margin: 1rem 0;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #eee;
    color: #333;

}